.title__product{
	text-align: center;
	font-size: 30px;
	margin-top: 100px;
}
.list__product{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: 1200px;

}
.list__product .item{
	background-color: white;
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0 0 16px 1px rgb(157, 157, 157);
}
.list__product .item img{
	width: 250px;
	height: 185px;
	border-radius: 10px;
	object-fit: cover;
}
.list__product .item p{
	width: 220px;
	height: 45px;
	margin: 10px;
	font-weight: bolder;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list__product .item span{
	margin: 10px;
	color: black;
}
.list__product .item button{
	margin-left: 30px;
	font-size: 25px;
	font-weight: 800;
	padding: 0 15px;
	border: none;
	background-color: #FFA500;
	color: #fff;
	border-radius: 46%;
}
.loading{
	font-size: 30px;
	text-align: center;
	padding: 20px;
}
.pagination{
	text-align: center;
	position: relative;
	left:550px;
}

.list__product .item:hover{
	background-color:bisque;
	transition: 1s;
	transform: scale(1.1);
	
}
.button{
	position: relative;
	left: 580px;
	top: 20px;
	padding: auto 20px;
	border-radius: 20px 20px 20px 20px;
	font-size: 20px;
	background-color: lightskyblue;
	

}
.button:hover{

	background-color: black;
	
}